<footer class="footer">
    <div class="footer-nav-wrapper">
      <h3 class="footer-nav-heading">
        Info
      </h3>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">
            Press
          </a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">
            Privacy
          </a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">
            Returns
          </a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">
            Delivery
          </a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">
            Contact Us
          </a>
        </li>
      </ul>
    </div>

    <div class="contact">
      <h2 class="contact-heading">
        Newsletter
      </h2>
      <p class="contact-paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, neque.
      </p>

      <form>
        <div class="inputs-group">
          <input type="text" class="inputs-group-text" placeholder="First Name">
          <input type="text" class="inputs-group-text" placeholder="Last Name">
        </div>
        <div class="inputs-group">
          <input type="email" class="inputs-group-email" placeholder="Your Email Address">
          <input type="submit" class="inputs-group-btn" value="Sign Up">
        </div>
      </form>
      <!-- Social media -->
      <ul class="social-icons">
        <li class="social-icons-item">
          <a href="#" class="social-icons-link" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-icons-link" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-icons-link" aria-label="Google+">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-icons-link" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-icons-link" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <!-- End of Social media -->
    </div>

    <div class="contact-list-wrapper">
      <h3 class="contact-list-heading">
        PaShop
      </h3>
      <ul class="contact-list">
        <li class="contact-list-item">
          <a href="#" class="contact-list-link">
            444 555 888
          </a>
        </li>

        <li class="contact-list-item">
          <a href="#" class="contact-list-link">
            info@gmail.com
          </a>
        </li>

        <li class="contact-list-item">
          <a href="#" class="contact-list-link">
            Tobruku 5, 48-300 Nysa
          </a>
        </li>
      </ul>
    </div>
  </footer>